<!DOCTYPE html>
<html lang="ru">
<head>
	<title>LogIn</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<h1>LogIn</h1>
	</header>

	<main>
		<section class="sectionFormLogin">
			<form action="#" method="POST" class="formLogin">
				<p class="paragraphForm">
					<label for="login">Login:</label>
					<input type="text" name="login" id="login"><br>	
				</p>
				<p class="paragraphForm">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password"><br>	
				</p>
			</form>

			<div class="buttonBack"><a href="systemPark.html"> Return Back </a></div>
			<input class="buttonSend" type="button" name="sendForm" value="Send >" id="sendForm">
		</section>
	</main>

	<footer></footer>

</body>
</html>