<!DOCTYPE html>
<html lang="ru">
<head>
	<title>System Park</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<h1>System Park</h1>
	</header>
	<main>
		<section>
			<div class="buttonRegister">
				<a href="registration.html"> Registration </a>
			</div>
			<div class="buttonLogin">
				<a href="login.html"> Login </a>
			</div>
		</section>
	</main>
	<footer></footer>
</body>
</html>